Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-poetry-lock-sync
    name: Check poetry.lock is in sync
    description: Ensures poetry.lock is in sync with pyproject.toml
    entry: bash scripts/check_poetry_lock_sync.sh
    language: system
    files: ^(pyproject\.toml|poetry\.lock)$
    pass_filenames: false
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

ci: fixed pyinstaller ci
  poetry.lock
  pyproject.toml
Due: check-poetry-lock-sync

fix(subagent): add missing tool_format parameter to chat() calls
  gptme/tools/subagent.py
Due: none

fix: resolve MCP tool loading issues and connection errors (#825)
  gptme/cli.py
  gptme/mcp/client.py
  gptme/prompts.py
  gptme/tools/__init__.py
  gptme/tools/mcp_adapter.py
  gptme/util/__init__.py
  poetry.lock
  tests/test_tools.py
Due: check-poetry-lock-sync

feat(tasks): add target type filters to task list (#101)
  src/components/UnifiedSidebar.tsx
Due: none

Refactor threading.local to ContextVars support (#827)
  gptme/config.py
  gptme/tools/__init__.py
  gptme/tools/lessons.py
  gptme/tools/time_awareness.py
  gptme/tools/token_awareness.py
  tests/test_config.py
  tests/test_tools_time_awareness.py
Due: none

feat(validation): add MESSAGE_POST_PROCESS hook for markdown codeblock cut-off detection (#824)
  gptme/chat.py
  gptme/eval/dspy/prompt_optimizer.py
  gptme/hooks/__init__.py
  gptme/hooks/markdown_validation.py
  gptme/init.py
  gptme/server/api_v2_sessions.py
  gptme/server/cli.py
  gptme/util/cli.py
  poetry.lock
  scripts/auto_rename_logs.py
  scripts/treeofthoughts.py
  tests/conftest.py
  tests/test_markdown_validation.py
  tests/test_server_v2_hooks.py
Due: check-poetry-lock-sync

feat: support OPENROUTER_API_KEY for perplexity (#828)
  docs/lessons/tools/browser.md
  gptme/tools/_browser_perplexity.py
  gptme/tools/browser.py
  tests/test_browser.py
Due: none

fix: fixed Kimi K2 thinking toolcall support via OpenRouter (#830)
  gptme/llm/llm_openai.py
  gptme/tools/base.py
  tests/test_tool_use.py
Due: none

build(deps): add 'eval' extra group (the natural name for the 'dspy' extras that LLMs always assume is correct)
  poetry.lock
  pyproject.toml
Due: check-poetry-lock-sync

feat(server): add API v2 client for programmatic interaction (#841)
  gptme/server/client.py
  gptme/tools/__init__.py
  gptme/tools/lessons.py
  tests/test_server_client.py
  tests/test_tools_shell.py
  tests/test_tools_time_awareness.py
Due: none

tests: fixed flaky tests
  tests/test_server_v2_auto_stepping.py
  tests/test_server_v2_tool_confirmation.py
Due: none

tests: add xfail to flaky test
  tests/test_server_v2_auto_stepping.py
Due: none

feat(plugins): implement Phase 3 command integration (#846)
  docs/plugins.md
  gptme/commands.py
  gptme/init.py
  gptme/plugins/__init__.py
  tests/test_plugins.py
Due: none

tests: add xfail to flaky test
  tests/test_server_v2_tool_confirmation.py
Due: none

feat: convert default model and hook registry to ContextVar for thread safety (#848)
  gptme/hooks/__init__.py
  gptme/hooks/test.py
  gptme/llm/models.py
  gptme/server/api_v2_sessions.py
  tests/test_server_v2_hooks.py
Due: none

fix: remove xfail markers from previously flaky server tests (#849)
  tests/test_server_v2_auto_stepping.py
  tests/test_server_v2_tool_confirmation.py
Due: none

fix: fix broken favicon in the root path (#847)
  site/template.html
Due: none

feat(context): Phase 1 - Core Context Selector Infrastructure (#831)
  gptme/context_selector/__init__.py
  gptme/context_selector/base.py
  gptme/context_selector/config.py
  gptme/context_selector/file_config.py
  gptme/context_selector/file_integration.py
  gptme/context_selector/file_selector.py
  gptme/context_selector/hybrid.py
  gptme/context_selector/llm_based.py
  gptme/context_selector/rule_based.py
  gptme/lessons/__init__.py
  gptme/lessons/matcher_enhanced.py
  gptme/lessons/selector_config.py
  gptme/lessons/selector_integration.py
  poetry.lock
  pyproject.toml
  tests/benchmark_context_selector.py
  tests/test_context_selector.py
  tests/test_file_selector_integration.py
  tests/test_integration_phase4.py
  tests/test_lesson_selector_integration.py
Due: check-poetry-lock-sync

fix: added SC2016 as excluded shellcheck code
  gptme/tools/shell.py
Due: none

chore: bump version to 0.30.0
  docs/changelog.rst
  docs/releases/v0.30.0.md
  pyproject.toml
Due: check-rst-formatting, check-poetry-lock-sync

docs: fixes to docs, clean up (#850)
  docs/custom-providers.md
  docs/index.rst
  docs/misc/server-hooks-analysis.md
Due: check-rst-formatting

docs: custom provider docs fix (#851)
  docs/index.rst
  docs/providers.rst
Due: check-rst-formatting

docs: more docs fixes (#852)
  docs/custom_tool.rst
  docs/plugins.md
  docs/plugins.rst
  docs/usage.rst
Due: check-rst-formatting

feat: add restart tool (#853)
  gptme/logmanager.py
  gptme/tools/restart.py
Due: none

tests: add xfail to flaky test
  tests/test_server_v2_sse.py
Due: none

fix: initialize tools and model in subagent threads (#854)
  gptme/tools/subagent.py
Due: none

feat: implement active context discovery (#856)
  gptme.toml
  gptme/chat.py
  gptme/config.py
  gptme/context/__init__.py
  gptme/context/config.py
  gptme/context/selector/__init__.py
  gptme/context/selector/base.py
  gptme/context/selector/config.py
  gptme/context/selector/file_config.py
  gptme/context/selector/file_integration.py
  gptme/context/selector/file_selector.py
  gptme/context/selector/hybrid.py
  gptme/context/selector/llm_based.py
  gptme/context/selector/rule_based.py
  gptme/context_selector/file_selector.py
  gptme/eval/dspy/prompt_optimizer.py
  gptme/hooks/__init__.py
  gptme/hooks/active_context.py
  gptme/lessons/matcher_enhanced.py
  gptme/lessons/selector_integration.py
  gptme/llm/__init__.py
  gptme/tools/__init__.py
  gptme/tools/autocompact.py
  gptme/tools/rag.py
  gptme/util/context.py
  gptme/util/prompt.py
  scripts/treeofthoughts.py
  tests/benchmark_context_selector.py
  tests/test_context.py
  tests/test_context_selector.py
  tests/test_file_selector_integration.py
  tests/test_integration_phase4.py
  tests/test_lesson_selector_integration.py
  tests/test_tools.py
  tests/test_tools_rag.py
Due: none

build(deps): remove pytest-asyncio dep (#858)
  poetry.lock
  pyproject.toml
  tests/test_file_selector_integration.py
  tests/test_integration_phase4.py
  tests/test_lesson_selector_integration.py
  tests/test_server_client.py
Due: check-poetry-lock-sync

feat(context): implement Phase 3.1.1 core infrastructure (#860)
  gptme/context/task_analyzer.py
  tests/context/test_task_analyzer.py
Due: none

feat(context): implement hooks-based context compression architecture (#844)
  gptme/context/__init__.py
  gptme/context/compress.py
  gptme/tools/autocompact.py
  tests/test_auto_compact.py
Due: none

feat(eval): GEPA Week 3 - HybridOptimizer with adaptive multi-stage optimization (#859)
  gptme/eval/dspy/cli.py
  gptme/eval/dspy/hybrid_optimizer.py
  gptme/eval/dspy/prompt_optimizer.py
  gptme/eval/dspy/tasks.py
  tests/test_dspy_hybrid.py
Due: none
