Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-poetry-lock-sync:
  name: Check poetry.lock is in sync
  description: Ensures poetry.lock is in sync with pyproject.toml
  entry: bash scripts/check_poetry_lock_sync.sh
  language: system
  pass_filenames: false

fix(doctor): surface exhausted OpenRouter quota (#3892)
  docs/getting-started.rst
  gptme/cli/doctor.py
  gptme/llm/validate.py
  tests/test_doctor.py
  tests/test_llm_validate.py
Due: check-rst-formatting

test(tauri): real first-run E2E with webui + sidecar (#3886)
  .github/workflows/tauri.yml
  tauri/e2e/SPEC-real-first-run.md
  tauri/e2e/test/specs/chat_flow.test.js
  tauri/e2e/test/specs/first_run.test.js
  tauri/e2e/wdio.conf.js
  tauri/scripts/build-sidecar.sh
  tauri/src-tauri/src/lib.rs
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/contexts/ApiContext.tsx
  webui/src/contexts/__tests__/ApiContext.test.tsx
  webui/src/stores/__tests__/serverClients.test.ts
  webui/src/stores/serverClients.ts
Due: none

test(models): make warn-once assertion logger-local (#3896)
  tests/test_llm_models_resolution.py
Due: none

feat(shell): promote slow foreground commands (#3898)
  gptme/sandbox.py
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_background.py
  tests/test_shell_foreground_promotion.py
Due: none

fix(cli): honor gitignore anchoring and negation in context tree (#3899)
  gptme/cli/util.py
  tests/test_util_cli.py
Due: none

fix(cli): import extras lazily so gptme-server and gptme-dspy start without them (#3901)
  gptme/eval/dspy/__init__.py
  gptme/eval/dspy/__main__.py
  gptme/server/cli.py
  tests/test_entrypoints.py
Due: none

feat(subagent): deliver completions to idle server sessions (#3897)
  gptme/config/chat.py
  gptme/server/api_v2.py
  gptme/server/api_v2_common.py
  gptme/server/app.py
  gptme/server/openapi_docs.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  gptme/tools/subagent/__init__.py
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/hooks.py
  gptme/tools/subagent/types.py
  tests/test_config.py
  tests/test_llm_openai.py
  tests/test_server_v2.py
  tests/test_subagent_roundtrip.py
  tests/test_subagent_unit.py
  tests/test_tools_subagent.py
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

fix(doctor): resolve effective model source (#3893)
  gptme/cli/doctor.py
  gptme/config/__init__.py
  gptme/config/core.py
  gptme/config/user.py
  gptme/llm/__init__.py
  gptme/model_attestation.py
  tests/test_config.py
  tests/test_doctor.py
Due: none

test(server): gate cold conversation scan on scaling, not milliseconds (#3900)
  tests/test_server_perf.py
Due: none

fix(memory): reject unknown list filters (#3904)
  gptme/cli/cmd_memory.py
  tests/test_memory_store.py
Due: none

feat(models): add GPT-6 Sol and GPT-6 Luna to OpenAI model registry (#3914)
  .github/workflows/test.yml
  docs/tool-formats.rst
  gptme/llm/llm_openai_models.py
Due: check-rst-formatting

fix(tauri): rename user-facing product to gptme (#3907)
  .github/workflows/tauri.yml
  tauri/README.md
  tauri/e2e/wdio.conf.js
  tauri/scripts/build-appimage.sh
  tauri/scripts/test-appimage-ln-wrapper.sh
  tauri/src-tauri/gen/android/app/src/main/res/values/strings.xml
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/tauri.conf.json
Due: none

feat(webui): subscription provider setup (ChatGPT/Grok/OpenRouter PKCE) (#3912)
  gptme/llm/llm_grok_subscription.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/llm_openrouter_subscription.py
  gptme/server/api_v2.py
  gptme/server/openapi_docs.py
  tauri/e2e/test/specs/first_run.test.js
  tests/test_server_subscription_connect.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/utils/apiKeyProviders.ts
Due: none

fix(config): don't crash on malformed [[providers]] entry (#3915)
  gptme/config/user.py
  tests/test_custom_providers.py
Due: none

feat(webui): add provider health dot badge to model picker label (#3917)
  webui/src/components/ModelPicker.tsx
  webui/src/components/ProviderHealthDot.tsx
  webui/src/components/__tests__/ProviderHealthDot.test.tsx
Due: none

fix(server): add timeout to subscription OAuth background threads (#3923)
  gptme/llm/llm_grok_subscription.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/llm_openrouter_subscription.py
  gptme/server/api_v2.py
  tests/test_llm_openai_subscription.py
  tests/test_server_subscription_connect.py
Due: none

fix(webui): bundle Inter font locally instead of CDN import (#3908)
  webui/package-lock.json
  webui/package.json
  webui/src/index.css
  webui/tailwind.config.ts
Due: none

fix(webui): cancel subscription poll and in-flight request on wizard unmount (#3922)
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(tests): update browser-lynx test to use stable gptme.org assertion (#3916)
  tests/test_browser_lynx.py
Due: none

fix(review-pr): don't let a trailing shutdown log mask the real session error (#3910)
  gptme/cli/cmd_review_pr.py
  tests/test_util_review.py
Due: none

fix(tauri): retry connect on managed sidecar startup delay (#3934)
  gptme/cli/cmd_service.py
  tauri/e2e/test/specs/first_run.test.js
  tests/test_cmd_service.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/contexts/ApiContext.tsx
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

refactor(cli): remove architect/editor split mode (#3937)
  gptme/cli/main.py
  gptme/config/models.py
  gptme/prompts/architect.py
  tests/test_cli.py
  tests/test_config.py
Due: none

docs: correct inaccurate and stale claims across README and docs (#3936)
  README.md
  docs/acp.rst
  docs/agents.rst
  docs/agents/autonomous.rst
  docs/agents/workspace.rst
  docs/alternatives.rst
  docs/commands.rst
  docs/examples.rst
  docs/features.rst
  docs/hooks.rst
  docs/lessons.rst
  docs/lessons/README.md
  docs/mcp.rst
  docs/memory.rst
  docs/plugins.rst
  docs/tools.rst
  docs/tools/request-tool-change.rst
  docs/tui.rst
  docs/webui.rst
Due: check-rst-formatting

fix(tauri): preserve OAuth chars in deep-link auth code injection (#3926)
  tauri/e2e/wdio.conf.js
  tauri/src-tauri/src/lib.rs
  webui/src/utils/__tests__/connectionConfig.test.ts
Due: none

fix(server): honor per-step max token override (#3905)
  gptme/acp/agent.py
  gptme/acp/client.py
  gptme/chat.py
  gptme/server/acp_session_runtime.py
  gptme/server/api_v2_sessions.py
  gptme/server/openapi_docs.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  tests/test_acp_agent.py
  tests/test_acp_client.py
  tests/test_acp_session_runtime.py
  tests/test_server_session_models.py
  tests/test_server_v2.py
  tests/test_server_v2_sessions.py
Due: none

fix(config): don't crash on malformed [[mcp.servers]] entry (#3927)
  gptme/config/user.py
  tests/test_config.py
Due: none

fix(tauri): regenerate icons from SVG for readable small-size rendering (#3928)
  tauri/src-tauri/icons/128x128.png
  tauri/src-tauri/icons/128x128@2x.png
  tauri/src-tauri/icons/32x32.png
  tauri/src-tauri/icons/64x64.png
  tauri/src-tauri/icons/icon.ico
Due: none

docs: select workspace before gptme-agent install (#3933)
  README.md
  docs/features.rst
Due: check-rst-formatting

fix(service): parse last systemd Environment model assignment (#3930)
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

feat(server): forward temperature and top_p request overrides to provider (#3942)
  gptme/server/api_v2_sessions.py
  gptme/server/openapi_docs.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  tests/test_acp_session_runtime.py
  tests/test_server_v2_sessions.py
Due: none

refactor(tools): remove patch_anchored and view_anchored (#3941)
  gptme/cli/cmd_review_pr.py
  gptme/tools/_anchored.py
  gptme/tools/patch_anchored.py
  tests/test_tools__anchored.py
  tests/test_tools_patch_anchored.py
Due: none

refactor(cli): remove --gear, --multi-tool, --injection-hygiene, --manifest-dir (#3940)
  docs/config.rst
  docs/features.rst
  docs/security.rst
  gptme/cli/main.py
  gptme/config/chat.py
  gptme/config/cli_setup.py
  gptme/config/models.py
  gptme/config/user.py
  gptme/gears.py
  gptme/hooks/injection_screening.py
  gptme/hooks/manifest.py
  gptme/hooks/tests/test_manifest.py
  gptme/tools/restart.py
  tests/test_config.py
  tests/test_gears.py
Due: check-rst-formatting

refactor(server): stop falling back to the legacy web UI (#3938)
  docs/webui.rst
  gptme/server/app.py
  gptme/server/computer_view/computer.html
  gptme/util/export.py
  gptme/util/export_templates/index.html
  gptme/util/export_templates/main.js
  gptme/util/export_templates/style.css
  pyproject.toml
  scripts/pyinstaller/gptme-server.spec
  tests/test_computer_docker_config.py
  tests/test_reduce.py
  tests/test_server.py
  tests/test_server_webui_dir.py
  tests/test_util_export.py
Due: check-rst-formatting, check-poetry-lock-sync

docs(contributing): add setup smoke test (#3902)
  docs/contributing.rst
Due: check-rst-formatting

docs(shell): document allowlist, transparent wrappers, and tree-sitter-bash parser (#3946)
  docs/tools/shell.rst
Due: check-rst-formatting

chore(meta): add PyPI keywords and classifiers (#3955)
  pyproject.toml
Due: check-poetry-lock-sync

feat(tauri): LAN QR access backend — Phase 1 (#3947)
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/lan_access.rs
  tauri/src-tauri/src/lib.rs
Due: none

docs(plugins): add Plugin Registry section — how to get listed via GitHub topics (#3951)
  docs/plugins.rst
Due: check-rst-formatting

perf(shell): batch 7 separate export calls in _init() into one (#3952)
  gptme/tools/shell.py
Due: none

test(hooks): unregister server_confirm in test_register to stop TOOL_CONFIRM leak (#3962)
  tests/test_hooks_server_confirm.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-poetry-lock-sync: any of: ^(pyproject\.toml|poetry\.lock)$
