Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-poetry-lock-sync:
  name: Check poetry.lock is in sync
  description: Ensures poetry.lock is in sync with pyproject.toml
  entry: bash scripts/check_poetry_lock_sync.sh
  language: system
  pass_filenames: false

refactor(shell): remove bashlex fallback after tree-sitter soak (#3944)
  gptme/tools/shell.py
  poetry.lock
  pyproject.toml
  tests/test_shell_parser.py
  tests/test_tools_shell.py
Due: check-poetry-lock-sync

feat(providers): make api_key_env optional in ProviderPlugin (#3957)
  docs/plugins.rst
  gptme/llm/llm_openai.py
  gptme/llm/models/types.py
  gptme/llm/provider_plugins.py
  tests/test_provider_plugins.py
Due: check-rst-formatting

feat(compaction): Phase 1 — one budget, always-on trigger, no per-call mutation (#3812) (#3895)
  docs/context-compression.rst
  gptme/chat.py
  gptme/cli/util.py
  gptme/config/models.py
  gptme/config/user.py
  gptme/context/config.py
  gptme/executor.py
  gptme/init.py
  gptme/logmanager/manager.py
  gptme/server/session_step.py
  gptme/tools/autocompact/decision.py
  gptme/tools/autocompact/engine.py
  gptme/tools/autocompact/hook.py
  gptme/tools/autocompact/resume.py
  gptme/util/context_budget.py
  tests/test_auto_compact.py
  tests/test_context_budget.py
  tests/test_executor.py
  tests/test_logmanager.py
  tests/test_server_v2_sessions.py
  tests/test_util_cli_models.py
Due: check-rst-formatting

fix(autocompact): only record attempt after successful compaction, not before (#3965)
  gptme/tools/autocompact/hook.py
  tests/test_auto_compact.py
Due: none

test(e2e): Playwright tests for InlineToolConfirmation (tool_pending flow) (#3948)
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/capabilities/default.json
  tauri/src-tauri/src/lib.rs
  webui/e2e/tool-confirmation.spec.ts
  webui/src/components/InlineToolConfirmation.tsx
  webui/src/utils/__tests__/notifications.test.ts
  webui/src/utils/notifications.ts
Due: none

feat(tools): URL host allowlist for autonomous web access (#3954)
  gptme/chat.py
  gptme/cli/main.py
  gptme/config/chat.py
  gptme/config/cli_setup.py
  gptme/server/session_step.py
  gptme/tools/_browser_playwright.py
  gptme/tools/_browser_thread.py
  gptme/tools/_url_safety.py
  gptme/tools/browser.py
  tests/test_tools_browser.py
  tests/test_url_safety.py
Due: none

fix(webui): preserve generation settings for initial step (#3913)
  webui/src/hooks/__tests__/useConversation.test.tsx
  webui/src/hooks/useConversation.ts
Due: none

fix(server,webui): recover event stream after server restart; keep native notification grant out of browser path (#3967)
  gptme/server/api_v2_sessions.py
  tests/test_server_bad_input.py
  tests/test_server_fresh_bad_input.py
  tests/test_server_v2_sessions.py
  webui/src/utils/__tests__/notifications.test.ts
  webui/src/utils/notifications.ts
Due: none

fix(tui): inline-mode UX — hide thinking by default, keep scrollback on resize, show queued prompts and confirm keys (#3970)
  docs/config.rst
  docs/tui.rst
  gptme/hooks/cwd_awareness.py
  gptme/hooks/tests/test_cwd_awareness.py
  gptme/tui/app.py
  gptme/tui/main.py
  tests/snapshots/tui_idle.svg
  tests/snapshots/tui_inline.svg
  tests/snapshots/tui_stream.svg
  tests/test_tui.py
  tests/test_tui_e2e.py
  tests/test_tui_visual.py
Due: check-rst-formatting

feat(tui): collapse long pastes into atomic placeholder tokens (#3972)
  gptme/tui/app.py
  tests/test_tui.py
Due: none

feat(tui): --resume [NAME]: pick from a list, or open NAME directly (#3971)
  docs/tui.rst
  gptme/tui/main.py
  tests/test_tui.py
Due: check-rst-formatting

fix(subagent): preserve result past system postamble (#3986)
  gptme/tools/subagent/types.py
  tests/test_subagent_unit.py
Due: none

fix(tui): normalize CR/CRLF line breaks in collapsed pastes (#3982)
  gptme/tui/app.py
  tests/test_tui.py
Due: none

docs(readme): mention Requesty alongside OpenRouter (#3994)
  README.md
Due: none

fix(openrouter): accept `max` reasoning effort (#3985)
  docs/config.rst
  docs/providers.rst
  gptme/llm/llm_openai.py
  tests/test_llm_openai_reasoning_effort.py
Due: check-rst-formatting

fix(openrouter): accept every quantization level OpenRouter supports (#3983)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

feat(tui): accept prompts on the command line, like the CLI (#3980)
  docs/tui.rst
  gptme/cli/main.py
  gptme/tui/app.py
  gptme/tui/main.py
  gptme/util/multiprompt.py
  tests/test_tui.py
Due: check-rst-formatting

test: make two order/load-dependent CI tests hermetic (#3988)
  tests/test_mcp_server.py
  tests/test_subagent_unit.py
Due: none

fix(tools): cap tool descriptions on all provider paths, not just OpenAI (#3964)
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  gptme/llm/openai_responses.py
  gptme/tools/base.py
  tests/test_tool_description_cap.py
Due: none

test(browser): serve read_page_text fixture locally instead of example.com (#3991)
  tests/conftest.py
  tests/test_browser.py
Due: none

feat(restart): switch interface with /restart cli|tui|web (#3990)
  docs/commands.rst
  docs/tui.rst
  gptme/commands/meta.py
  gptme/commands/session.py
  gptme/tools/restart.py
  gptme/tui/app.py
  gptme/tui/main.py
  tests/test_tools_restart.py
  tests/test_tui.py
Due: check-rst-formatting

fix(shell): make promoted background job output reachable and respect explicit timeouts (#3996)
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_foreground_promotion.py
  tests/test_tools_shell.py
Due: none

fix(llm): convert OpenAI stream chunk-parsing crash into a clean, classifiable error (#3984)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

test(tui): cover initial prompt queue exit path (#3998)
  tests/test_tui.py
Due: none

fix(cli): print the resume command after a fatal error (#3978)
  gptme/cli/main.py
  tests/test_cli_fatal_error_envelope.py
Due: none

fix(confirm): show tool-format call arguments in confirmation previews (#3979)
  gptme/hooks/cli_confirm.py
  gptme/hooks/guardrails.py
  gptme/hooks/server_confirm.py
  gptme/tools/base.py
  gptme/tui/app.py
  tests/test_tool_preview_content.py
Due: none

fix(hooks): don't inject another agent's identity instructions on cd (#3993)
  docs/config.rst
  docs/hooks.rst
  gptme/hooks/agents_md_inject.py
  gptme/hooks/tests/test_agents_md_inject.py
  gptme/hooks/tests/test_tool_target_instructions.py
  gptme/hooks/tool_target_instructions.py
  tests/test_agents_md_inject.py
Due: check-rst-formatting

fix(time-awareness): one timezone-aware clock with full date, real session start and resume gaps (#3992)
  gptme/hooks/tests/test_time_awareness.py
  gptme/hooks/time_awareness.py
  gptme/prompts/templates.py
  gptme/util/clock.py
  tests/test_prompt_templates.py
  tests/test_tools_time_awareness.py
Due: none

fix(server): bound client-controlled session_id in reconnect log line (#3969)
  gptme/server/api_v2_sessions.py
  tests/test_server_v2_sessions.py
Due: none

fix(subagent): load disabled-by-default tools named by a profile allowlist (#3974)
  gptme/tools/subagent/execution.py
  tests/test_subagent_unit.py
Due: none

feat: [agent].color and [user].color for names in the CLI and TUI (#3977)
  docs/config.rst
  gptme/config/models.py
  gptme/config/user.py
  gptme/constants.py
  gptme/message.py
  gptme/tui/app.py
  tests/test_config.py
  tests/test_tui.py
  tests/test_tui_visual.py
Due: check-rst-formatting

fix(shell): gate workspace hint on subagent tool, say denied commands ran nothing (#3995)
  gptme/hooks/guardrails.py
  gptme/hooks/tests/test_guardrails.py
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  gptme/tools/shell_validation.py
  tests/test_guardrail_hook.py
  tests/test_shell_background.py
  tests/test_tools_shell.py
Due: none

fix(tui): no freeze/lost focus on pane switch, /restart after cwd moved, compact + highlighted sections (#3976)
  docs/config.rst
  docs/tui.rst
  gptme/tui/app.py
  gptme/tui/main.py
  tests/test_tui.py
  tests/test_tui_e2e.py
Due: check-rst-formatting

fix(subagent): stop thread-mode subagents from breaking the parent session's tool calls (#3989)
  gptme/chat.py
  gptme/hooks/cost_awareness.py
  gptme/init.py
  gptme/tools/base.py
  gptme/tools/lessons.py
  gptme/tools/subagent/execution.py
  gptme/tui/app.py
  tests/test_init.py
  tests/test_llm_utils.py
  tests/test_shell_completion_loop.py
  tests/test_subagent_parent_isolation.py
  tests/test_tui_e2e.py
Due: none

ci: cancel superseded PR runs, path-filter heavy workflows, slow tests on master only (#4000)
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/security-advisories.yml
  .github/workflows/test.yml
  .github/workflows/webui.yml
Due: none

test: keep color-warning tests independent of a leaked root log level (#4003)
  tests/test_cli_llm_generate.py
  tests/test_config.py
Due: none

ci(webui): make stable PyPI e2e pass non-blocking (#3999)
  .github/workflows/webui.yml
Due: none

feat(tauri): LAN access settings panel with QR code — Phase 2 (#3958)
  tauri/src-tauri/src/lan_access.rs
  tauri/src-tauri/src/lib.rs
  webui/src/components/SettingsContent.tsx
  webui/src/components/settings/LanAccessPanel.tsx
  webui/src/stores/settingsModal.ts
Due: none

ci: consolidate gptme-bot and gptme-resolve into one label-triggered workflow (#4001)
  .github/workflows/bot.yml
  .github/workflows/resolve.yml
  docs/bot.md
Due: none

ci: trim Lint to two jobs; skip Build on PRs that can't affect it (#4002)
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-poetry-lock-sync: any of: ^(pyproject\.toml|poetry\.lock)$
