Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-poetry-lock-sync
    name: Check poetry.lock is in sync
    description: Ensures poetry.lock is in sync with pyproject.toml
    entry: bash scripts/check_poetry_lock_sync.sh
    language: system
    files: ^(pyproject\.toml|poetry\.lock)$
    pass_filenames: false
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(cli): show 'gptme <cmd>' instead of 'gptme-util <cmd>' in error messages (#3749)
  gptme/cli/main.py
  gptme/cli/util.py
  tests/test_search_alias.py
Due: none

fix(onboard): detect OAuth subscription providers (#3720)
  gptme/cli/onboard.py
  tests/test_onboard.py
Due: none

fix(codeblock): carry quote state across lines; close exec-lang blocks in streaming (#3730)
  gptme/codeblock.py
  tests/test_codeblock.py
  tests/test_llm_utils.py
Due: none

fix(webui): clear stop flag before edit/rerun/regenerate (#3744)
  webui/src/hooks/__tests__/useConversation.test.tsx
  webui/src/hooks/useConversation.ts
Due: none

fix(cli): reject ambiguous positional resume IDs (#3763)
  docs/usage.rst
  gptme/cli/main.py
  tests/test_cli.py
  tests/test_subagent_unit.py
Due: check-rst-formatting

fix(cli): skip root scans and keep path inclusion interruptible (#3762)
  gptme/chat.py
  gptme/util/context.py
  tests/test_chat.py
  tests/test_context.py
Due: none

feat(tools): add ToolSpec.read_only flag; auto-approve in cli_confirm_hook (#3733)
  gptme/hooks/cli_confirm.py
  gptme/tools/base.py
  gptme/tools/python.py
  gptme/tools/rag.py
  gptme/tools/read.py
  gptme/tools/screenshot.py
  gptme/tools/vision.py
  tests/test_tools_vision.py
  tests/test_toolspec_read_only.py
Due: none

feat(memory): add cross-harness lexical recall (#3740)
  docs/index.rst
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/__init__.py
  gptme/memory/recall.py
  pyproject.toml
  tests/test_memory_store.py
Due: check-rst-formatting, check-poetry-lock-sync

fix(webui): stop event-stream banner from flashing on conversation open (#3753)
  webui/src/components/ConversationContent.tsx
  webui/src/components/__tests__/ConversationContent.test.tsx
  webui/src/stores/__tests__/conversations.test.ts
  webui/src/stores/conversations.ts
Due: none

feat(server): add /preview/{port}/ proxy for cloud port exposure (gptme-cloud#910) (#3767)
  gptme/server/app.py
  gptme/server/auth.py
  gptme/server/preview_proxy_api.py
  tests/test_preview_proxy.py
  tests/test_server.py
  webui/src/components/ComputerPreview.tsx
  webui/src/components/__tests__/ComputerPreview.test.tsx
Due: none

fix(cli): render native tool calls as highlighted source (#3752)
  gptme/llm/__init__.py
  gptme/message.py
  gptme/util/tool_display.py
  tests/test_llm_utils.py
  tests/test_message.py
Due: none

fix(webui): drop auth-code bootstrap gate before the connection probe (#3751)
  webui/src/contexts/ApiContext.tsx
  webui/src/contexts/__tests__/ApiContext.test.tsx
Due: none

fix(webui): only show demo content in explicit demo mode, not on connect (#3754)
  webui/jest.config.ts
  webui/jest.setup.ts
  webui/src/components/DeleteConversationConfirmationDialog.tsx
  webui/src/components/MainLayout.tsx
  webui/src/stores/conversations.ts
  webui/src/utils/__mocks__/viteEnv.ts
  webui/src/utils/__tests__/connectionConfig.test.ts
  webui/src/utils/connectionConfig.ts
  webui/src/utils/viteEnv.ts
Due: none

fix(webui): use Bookmark icon for set-default (not Star — fixes confusion with favorites) (#3768)
  webui/src/components/ChatInput.tsx
  webui/src/components/__tests__/ChatInput.test.tsx
Due: none

fix(acp): attach host-supplied MCP servers to sessions (#3771)
  gptme/acp/__main__.py
  gptme/acp/agent.py
  gptme/mcp/client.py
  gptme/tools/mcp_adapter.py
  tests/test_acp_agent.py
  tests/test_acp_e2e_smoke.py
  tests/test_mcp.py
  tests/test_mcp_adapter.py
Due: none

fix(codeblock): track triple-quote state in ipython blocks (#3704) (#3773)
  gptme/codeblock.py
  tests/test_codeblock.py
Due: none

fix(shell): use poll() in background job reader (#3715) (#3770)
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

feat(hooks): add guardrail TOOL_CONFIRM hook for headless safety (#3598) (#3765)
  gptme/hooks/__init__.py
  gptme/hooks/guardrails.py
  gptme/hooks/tests/test_guardrails.py
  gptme/tools/read.py
Due: none

fix(memory): reject reserved index names (#3772)
  gptme/cli/cmd_memory.py
  gptme/memory/store.py
  tests/test_memory_store.py
Due: none

fix(shell): use poll() in _run_with_tty reader (#3715) (#3769)
  gptme/tools/shell.py
  tests/test_shell_high_fd.py
Due: none

fix(mcp): run TOOL_CONFIRM guardrails on MCP tool.execute() (#3776)
  gptme/hooks/confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/mcp/server.py
  gptme/tools/base.py
  tests/test_mcp_server.py
Due: none

fix(llm): fold non-leading system messages for models that reject them (fixes #3779) (#3780)
  gptme/llm/llm_openai.py
  gptme/llm/models/__init__.py
  gptme/llm/models/listing.py
  gptme/llm/models/resolution.py
  gptme/llm/models/types.py
  tests/test_fold_mid_system.py
  tests/test_llm_models_resolution.py
Due: none

fix(docs/cli): mention subscription auth in no-provider error paths (#3775)
  docs/getting-started.rst
  gptme/cli/onboard.py
  gptme/init.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/models/resolution.py
  tests/test_init.py
  tests/test_json_output.py
  tests/test_llm_models.py
Due: check-rst-formatting

docs: rewrite finetuning page as a working, measured recipe (#3778)
  docs/finetuning.md
Due: none

feat(config): trust-on-first-use gate for project-level shell execution (#3782)
  gptme/config/__init__.py
  gptme/config/trust.py
  gptme/init.py
  gptme/prompts/__init__.py
  tests/conftest.py
  tests/test_config_trust.py
Due: none

fix(server): detect "No provider configured" as config error in server fallback (#3784)
  gptme/init.py
  gptme/server/cli.py
Due: none

feat(llm): make reasoning effort controllable and observable for OpenAI-compatible providers (#3781)
  docs/config.rst
  docs/providers.rst
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/openai_responses.py
  gptme/message.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai_reasoning_effort.py
  tests/test_llm_openai_subscription.py
  tests/test_message.py
Due: check-rst-formatting

fix(shell): bound denylist matches to argument tokens (#3761)
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(server): do not execute caller-supplied agent fork commands (#3783)
  gptme/agent/cli.py
  gptme/agent/workspace.py
  gptme/server/api_v2_agents.py
  gptme/server/openapi_docs.py
  tests/test_agent_fork_command.py
  tests/test_server_path_traversal.py
  tests/test_server_v2.py
  tests/test_server_v2_agents.py
  webui/src/components/CreateAgentDialog.tsx
Due: none

feat(skills): persist explicit invocation lifecycle evidence (#3750)
  docs/skills.rst
  gptme/chat.py
  gptme/lessons/skill_commands.py
  gptme/lessons/skill_events.py
  gptme/message.py
  gptme/prompt_queue.py
  gptme/tui/app.py
  tests/test_prompt_queue.py
  tests/test_skill_commands.py
  tests/test_skill_events.py
  tests/test_tui.py
Due: check-rst-formatting

fix(benchmark): raise cold startup threshold 6.0 → 8.0s for CI noise margin (#3777)
  .github/workflows/benchmark.yml
Due: none

feat(cli): add --track-tokens flag to print running token count per LLM call (#3646)
  gptme/chat.py
  gptme/cli/main.py
  tests/test_track_tokens.py
Due: none

feat(models): generate recommended-model docs from code; add DeepSeek V4 Flash 0731, GLM 5.3 Flash, GPT-6 Astra, Grok 4.6; OpenRouter provider allowlists (#3786)
  docs/evals.rst
  docs/providers.rst
  docs/tool-formats.rst
  gptme/cli/util.py
  gptme/eval/leaderboard.py
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_models.py
  gptme/llm/models/__init__.py
  gptme/llm/models/data.py
  gptme/llm/models/recommended.py
  gptme/llm/models/resolution.py
  tests/test_llm_models.py
  tests/test_llm_models_resolution.py
  tests/test_llm_openai.py
  tests/test_util_cli_models.py
Due: check-rst-formatting

feat(memory): Codex/AGENTS.md integration for cross-harness memory (#3764)
  AGENTS.md
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/__init__.py
  gptme/memory/schema.py
  gptme/memory/store.py
  tests/test_memory_store.py
Due: check-rst-formatting

fix: decode editable install file URLs (#3721)
  gptme/info.py
  tests/test_info.py
Due: none

fix(memory): read index entries under the root lock (#3790)
  gptme/memory/store.py
  tests/test_memory_store.py
Due: none

fix(openrouter): always send data_collection=deny for reasoning models (#3788)
  .github/workflows/build.yml
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
  tests/test_llm_openai_reasoning_effort.py
Due: none

feat(skills): record server and TUI invocation outcomes (#3787)
  docs/skills.rst
  gptme/lessons/skill_events.py
  gptme/server/api_v2_sessions.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  gptme/tui/app.py
  tests/test_server_skill_events.py
  tests/test_tui_skill_events.py
Due: check-rst-formatting

fix(llm): honor Retry-After during transient retries (#3797)
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  gptme/llm/retry_policy.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai.py
  tests/test_llm_retry_policy.py
Due: none

fix(webui): persist demo conversations to sessionStorage to survive reload (#3796)
  webui/src/utils/__tests__/demoApiClient.test.ts
  webui/src/utils/demoApiClient.ts
Due: none
