Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-poetry-lock-sync:
  name: Check poetry.lock is in sync
  description: Ensures poetry.lock is in sync with pyproject.toml
  entry: bash scripts/check_poetry_lock_sync.sh
  language: system
  pass_filenames: false

fix(shell): parse `time` scripts, stop false syntax errors, unwrap transparent wrappers (#3803)
  gptme/tools/shell.py
  gptme/tools/shell_validation.py
  tests/test_tools_shell.py
  tests/test_tools_shell_validation.py
Due: none

feat(models): add deepseek/deepseek-v4.1-flash (#3799)
  docs/evals.rst
  docs/tool-formats.rst
  gptme/eval/leaderboard.py
  gptme/llm/models/data.py
  gptme/llm/models/recommended.py
  tests/test_llm_models.py
Due: check-rst-formatting

refactor(shell): parse Bash with tree-sitter and retain legacy fallback (#3808)
  gptme/tools/shell.py
  poetry.lock
  pyproject.toml
  tests/test_shell_parser.py
  tests/test_tools_shell.py
Due: check-poetry-lock-sync

fix(llm): keep tool_call pairing for unavailable tools; dedupe auto-naming threads (#3800)
  gptme/chat.py
  gptme/config/chat.py
  gptme/llm/llm_openai.py
  gptme/llm/utils.py
  gptme/logmanager/conversations.py
  gptme/util/auto_naming.py
  tests/test_auto_naming.py
  tests/test_chat.py
  tests/test_llm_openai.py
Due: none

feat(memory): persist always-on selection and byte budget (#3791)
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/policy.py
  gptme/memory/store.py
  gptme/tools/memory.py
  tests/test_memory_index_policy.py
  tests/test_memory_store.py
Due: check-rst-formatting

feat(memory): preserve writer provenance through CLI metadata (#3792)
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/policy.py
  gptme/prompts/workspace.py
  gptme/tools/memory.py
  tests/test_cc_memory.py
  tests/test_memory_cli_metadata.py
  tests/test_memory_index_policy.py
  tests/test_workspace_memory_policy.py
Due: check-rst-formatting

fix(shell): bound captured subprocess output bytes (GPTME_SHELL_MAX_OUTPUT_BYTES) (#3804)
  gptme/tools/shell.py
  tests/test_llm_openai.py
  tests/test_shell_max_output_bytes.py
Due: none

fix(gh): dispatch structured 'command' kwarg calls (#3809)
  gptme/tools/gh.py
  tests/test_tools_gh.py
Due: none

fix(shell): scope set -e per block to prevent persistent errexit deaths (#3810)
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

feat(memory): use layered MemoryStore in workspace prompt (#3789)
  gptme/prompts/workspace.py
  tests/test_cc_memory.py
  tests/test_workspace_memory_policy.py
Due: none

test(memory): assert legacy reads stay bounded (#3815)
  tests/test_workspace_memory_policy.py
Due: none

fix(subagent): deliver subprocess control and capture stderr (#3819)
  gptme/hooks/__init__.py
  gptme/tools/subagent/execution.py
  tests/test_hooks.py
  tests/test_subagent_unit.py
  tests/test_tools_subagent.py
Due: none

fix(cli): emit clean error on status -o write failure, auto-mkdir parent (#3824)
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

fix(config): align CLI model precedence (#3818)
  gptme/config/cli_setup.py
  gptme/config/core.py
  gptme/init.py
  tests/test_config.py
  tests/test_model_attestation.py
Due: none

fix(config): order model layers by specificity, unify resolution (#3825)
  docs/config.rst
  docs/models.rst
  gptme/config/__init__.py
  gptme/config/cli_setup.py
  gptme/config/core.py
  gptme/init.py
  tests/test_config.py
Due: check-rst-formatting

fix(llm): use instructions_format["tool"] verbatim for tool-schema descriptions (#3823)
  gptme/llm/llm_openai.py
  gptme/llm/openai_responses.py
  gptme/tools/hashline_edit.py
  tests/test_llm_openai.py
  tests/test_tools_hashline_edit.py
Due: none

fix(shell): strip shell operators from tokens before sensitive-path check (#3806) (#3807)
  gptme/tools/shell.py
  gptme/tools/shell_validation.py
  gptme/util/ask_execute.py
  tests/test_shell_allowlist_autoconfirm.py
  tests/test_tools_shell.py
  tests/test_tools_shell_validation.py
Due: none

feat(tools): conditional tool docs + companion tools (requires_tools) (#3801)
  docs/tools.rst
  gptme/commands/llm.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  gptme/tools/chats.py
  gptme/tools/hashline_edit.py
  gptme/tools/vision.py
  tests/test_commands_llm.py
  tests/test_tool_conditionals.py
Due: check-rst-formatting

feat(skills): export lifecycle metrics and measured cost windows (#3793)
  docs/skills.rst
  gptme/lessons/skill_events.py
  gptme/telemetry.py
  gptme/util/_telemetry.py
  gptme/util/cost_tracker.py
  tests/test_skill_events.py
  tests/test_skill_metrics.py
Due: check-rst-formatting

feat(subagent): continue completed child conversations (#3820)
  gptme/acp/client.py
  gptme/tools/subagent/__init__.py
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/types.py
  tests/test_acp_client.py
  tests/test_subagent_unit.py
Due: none

docs(contributing): note toolchain drift between venv, lockfile and hooks (#3830)
  docs/contributing.rst
Due: check-rst-formatting

fix(init): don't warn when the optional model registry is absent (#3829)
  gptme/init.py
Due: none

fix(tools): raise ValueError with tool name when init() returns None (#3835)
  gptme/tools/__init__.py
  tests/test_tools_base.py
Due: none

docs(readme): replace broken starchart.cc chart with gptme/stats (#3838)
  README.md
Due: none

docs: update timeline and README news through September 2026 (#3836)
  README.md
  docs/timeline.rst
Due: check-rst-formatting

docs(readme): refresh demos with current screenshots and better asciinema thumbnails (#3837)
  README.md
  docs/demos.rst
  media/demos/fibonacci-606375.png
  media/demos/mandelbrot-621991.png
  media/screenshots/tui.png
  media/screenshots/webui.png
Due: check-rst-formatting

feat(skills): persist CostTracker ownership across TUI/server workers (#3833)
  gptme/hooks/cost_awareness.py
  gptme/hooks/tests/test_cost_awareness.py
  gptme/lessons/skill_events.py
  gptme/logmanager/conversations.py
  gptme/server/api_v2.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  gptme/tui/app.py
  gptme/util/cost_tracker.py
  tests/test_cost_tracker.py
  tests/test_hooks_cost_awareness.py
  tests/test_server_skill_events.py
  tests/test_tui_skill_events.py
Due: none

feat(subagent): persist registry metadata and rehydrate after restart (#3834)
  gptme/tools/subagent/__init__.py
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/persistence.py
  gptme/tools/subagent/types.py
  tests/test_subagent_persistence.py
  tests/test_tools_subagent.py
Due: none

refactor(shell): background whole tool calls and fix exit stalls (#3802)
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_guardrail_hook.py
  tests/test_shell_background.py
  tests/test_shell_max_output_bytes.py
  tests/test_tools_shell.py
  tests/test_tools_shell_background.py
Due: none

fix(webui): guard undefined values before toLowerCase calls (#3841)
  webui/src/components/ChatMessage.tsx
  webui/src/components/__tests__/ChatMessage.test.tsx
  webui/src/utils/__tests__/highlightUtils.test.ts
  webui/src/utils/__tests__/markdownUtils.test.ts
  webui/src/utils/__tests__/workspaceUtils.test.ts
  webui/src/utils/highlightUtils.ts
  webui/src/utils/markdownUtils.ts
  webui/src/utils/workspaceUtils.ts
Due: none

feat(memory): trigger keyworded entries through the lesson matcher (#3817)
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/__init__.py
  gptme/memory/match.py
  gptme/memory/store.py
  tests/test_memory_match.py
  tests/test_message_command.py
  tests/test_tools_rag.py
  tests/test_util_cli.py
Due: check-rst-formatting

fix(cli): emit clean error on dataset export -o write failure (#3842)
  gptme/cli/cmd_dataset.py
  tests/test_dataset.py
Due: none

fix(webui): guard console-proxy injection against cross-origin iframes (#3840)
  webui/src/components/BrowserPreview.tsx
  webui/src/utils/__tests__/consoleProxy.test.ts
  webui/src/utils/consoleProxy.ts
Due: none

fix(shell): wake idle sessions on background completion (#3843)
  gptme/cli/main.py
  gptme/prompt_queue.py
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_completion_loop.py
  tests/test_shell_completion_wait.py
  tests/test_shell_sigterm.py
Due: none

fix(eval): keep token counts on timeout instead of zeroing them (#3845)
  gptme/eval/run.py
  tests/test_eval.py
Due: none

fix(llm): _merge_consecutive must not merge parallel tool results with different call_ids (#3847)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

feat(site): prototype of new gptme.org site (design v3) (#3839)
  .github/workflows/site-next.yml
  Makefile
  site/next/.gitignore
  site/next/README.md
  site/next/index.html
  site/next/package-lock.json
  site/next/package.json
  site/next/postcss.config.js
  site/next/public/su-logo.png
  site/next/scripts/copy-assets.mjs
  site/next/scripts/prerender.mjs
  site/next/src/client.ts
  site/next/src/components/Layout.tsx
  site/next/src/components/icons.tsx
  site/next/src/entry-server.tsx
  site/next/src/lib/cn.ts
  site/next/src/lib/links.ts
  site/next/src/lib/readme-sanitize.ts
  site/next/src/lib/readme.test.ts
  site/next/src/lib/readme.ts
  site/next/src/lib/stats.ts
  site/next/src/routes/Home.tsx
  site/next/src/routes/Readme.tsx
  site/next/src/styles/index.css
  site/next/src/styles/tokens.css
  site/next/tailwind.config.ts
  site/next/tailwind.preset.ts
  site/next/tsconfig.json
  site/next/vite.config.ts
  tests/test_util_cli_batch.py
Due: none

test(lessons): stop seeding the global RNG in dropout tests (#3851)
  tests/test_lessons_auto_include.py
Due: none

fix(cli): emit clean error on attest sign --out write failure (#3850)
  gptme/attestation.py
  tests/test_util_cli_attest.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-poetry-lock-sync: any of: ^(pyproject\.toml|poetry\.lock)$
