Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-poetry-lock-sync:
  name: Check poetry.lock is in sync
  description: Ensures poetry.lock is in sync with pyproject.toml
  entry: bash scripts/check_poetry_lock_sync.sh
  language: system
  pass_filenames: false

fix(tauri): include pyproject.toml and lock file in sidecar freshness check (#3573)
  tauri/scripts/build-sidecar.sh
Due: none

feat(shell): opt-in per-shell memory ceiling via GPTME_SHELL_MEMORY_LIMIT (#3565)
  gptme/sandbox.py
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_sandbox.py
  tests/test_shell_memory_limit.py
Due: none

feat(server): BYOK key validation — warn not block when provider unreachable (#3569)
  gptme/llm/validate.py
  gptme/server/api_v2.py
  gptme/server/openapi_docs.py
  tests/test_llm_validate.py
  tests/test_server_v2.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

feat(precommit): add check-root-structure hook from gptme-contrib (#3580)
  .pre-commit-config.yaml
Due: none

docs: document subscription auth (ChatGPT Plus/Pro, SuperGrok) in README and providers docs (#3582)
  README.md
  docs/providers.rst
Due: check-rst-formatting

test(webui): add regression test for BYOK 422 invalid-key rejection (#3545) (#3581)
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(precommit): update gptme-contrib rev to post-#1479 merge (#3584)
  .pre-commit-config.yaml
Due: none

feat(cli): add gptme service init scaffold for headless agents (#3574)
  gptme/cli/cmd_service.py
  pyproject.toml
  tests/test_cmd_service.py
Due: check-poetry-lock-sync

test(server): add subprocess integration test for server startup (#3589) (#3590)
  tests/test_server_startup.py
Due: none

docs: add headless agents section with gptme service init example (#3588)
  README.md
Due: none

ci: add dependency advisory gate (Phase 1, non-blocking) (#3585)
  .github/workflows/security-advisories.yml
Due: none

feat(harness): audit assistant harness update requests (#3529)
  docs/tools.rst
  gptme/chat.py
  gptme/tools/request_tool_change.py
  tests/test_tools_request_tool_change.py
  tests/test_tools_subagent.py
Due: check-rst-formatting

feat(service-init): add launchd support for macOS agents (#3586)
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

fix(server): install SIGTERM handler before slow init to prevent silent failure (#3591)
  gptme/server/__init__.py
  gptme/server/cli.py
  tests/test_server_startup.py
Due: none

docs(plugins): fix hook type names and add TOOL_CONFIRM guardrail example (#3608)
  docs/plugins.rst
Due: check-rst-formatting

test(subagent): de-flake test_subagent_wait_polls_cache_after_join_timeout (#3610)
  tests/test_subagent_unit.py
Due: none

docs(hooks): document TOOL_CONFIRM deny semantics and return contract (#3611)
  docs/hooks.rst
Due: check-rst-formatting

feat(skills): invoke skills as slash commands (/skill:<name>) (#3587)
  docs/skills.rst
  gptme/init.py
  gptme/lessons/__init__.py
  gptme/lessons/skill_commands.py
  gptme/server/api_v2.py
  gptme/tui/app.py
  tests/test_server.py
  tests/test_skill_commands.py
  tests/test_tui.py
Due: check-rst-formatting

refactor(service-init): consolidate and document gptme-agent-template reference (#3614)
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

fix(service-init): make the scaffolded agent actually run gptme (#3609)
  README.md
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

feat(cli): auto-discover local Ollama and LM Studio providers (#3593)
  docs/getting-started.rst
  docs/providers-custom.rst
  gptme/cli/util.py
  gptme/llm/local_discovery.py
  tests/test_local_discovery.py
  tests/test_util_cli_providers.py
Due: check-rst-formatting

fix(server): don't let step() finally clear a continuation reservation (#3592)
  gptme/server/api_v2_sessions.py
  gptme/server/session_step.py
  tests/test_server_v2_sessions.py
Due: none

fix(server): treat missing X display as screenshot-unavailable (#3612)
  gptme/server/computer_api.py
  gptme/tools/screenshot.py
  tests/test_computer_api.py
  tests/test_tools_screenshot.py
Due: none

ci: run pre-commit hooks in the lint workflow (#3604)
  .github/workflows/lint.yml
  docs/releases/v0.32.1.md
  docs/releases/v0.33.0.md
  tests/test_conversations.py
  tests/test_git_worktree.py
Due: none

docs: add curated skills gallery page to gptme.org (#3605)
  docs/skills-gallery.rst
  docs/skills.rst
  gptme/lessons/index.py
Due: check-rst-formatting

feat(media): add 32x32-optimized gptme icon (colour + monochrome) (#3583)
  media/README.md
  media/icon-mono.svg
  media/icon.svg
  pyproject.toml
Due: check-poetry-lock-sync

fix(server): guard startup SIGTERM handler against overriding custom handlers (#3597)
  gptme/server/cli.py
  tests/test_server_parent_death_watcher.py
  tests/test_server_startup.py
Due: none

fix(server): use os.write() and re-entrance guard in SIGTERM handlers (#3623)
  gptme/server/cli.py
  tests/test_server_startup.py
Due: none

fix(webui): stabilize multi-server query results (#3602)
  webui/src/hooks/__tests__/useMultiServerConversations.test.tsx
  webui/src/hooks/useMultiServerConversations.ts
Due: none

fix(webui): recover local-server bearer handshake after #3430 (#3606)
  gptme/server/cli.py
  gptme/tools/subagent/api.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/contexts/ApiContext.tsx
  webui/src/contexts/__tests__/ApiContext.test.tsx
  webui/src/stores/__tests__/servers.test.ts
  webui/src/stores/servers.ts
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

fix(models): propagation gap + default_tool_format for OpenAI-compat providers (#3566)
  gptme/eval/suites/behavioral/git_selective_commit.py
  gptme/llm/models/data.py
  gptme/llm/models/resolution.py
  tests/test_eval_behavioral.py
  tests/test_llm_models_resolution.py
Due: none

test(webui): add opt-in vision_assert helper for generation E2E (#3607)
  webui/AGENTS.md
  webui/e2e/generation.spec.ts
  webui/e2e/helpers/visionAssert.test.ts
  webui/e2e/helpers/visionAssert.ts
  webui/e2e/helpers/visionAssertCore.ts
  webui/e2e/vision-assert-gap.spec.ts
  webui/jest.config.ts
  webui/playwright.config.ts
  webui/src/utils/__tests__/errors.test.ts
  webui/src/utils/errors.ts
  webui/tsconfig.test.json
Due: none

feat(models): parallel-tool flags from provider docs; eval-format verdict (#3628)
  docs/tool-formats.rst
  gptme/llm/models/data.py
  tests/test_docs_tool_formats_coverage.py
  tests/test_llm_models.py
Due: check-rst-formatting

refactor(agent-cmd): clarify scan scope and add create cross-references (#3619)
  gptme/agent/cli.py
  tests/test_agent.py
Due: none

docs(getting-started): add free cloud providers section (OpenRouter, Gemini, Groq) (#3631)
  docs/getting-started.rst
Due: check-rst-formatting

fix(prompts): keep volatile context after cache boundary (#3615)
  gptme/logmanager/manager.py
  gptme/prompts/__init__.py
  gptme/prompts/workspace.py
  gptme/server/api_v2.py
  tests/conftest.py
  tests/test_llm_anthropic.py
  tests/test_logmanager.py
  tests/test_prompts.py
  tests/test_server_v2.py
Due: none

fix(server): preserve webui html hint on config patch (#3521)
  gptme/server/api_v2.py
  tests/test_server_v2.py
Due: none

refactor(autocompact): rename /compact modes to 'trim' and 'summarize' (#3621)
  docs/commands.rst
  gptme/tools/autocompact/__init__.py
  gptme/tools/autocompact/handlers.py
  tests/test_auto_compact.py
Due: check-rst-formatting

feat(memory): load Claude Code memory in gptme workspace context (#3626)
  gptme/dirs.py
  gptme/prompts/workspace.py
  tests/test_cc_memory.py
Due: none

fix(tests): scope pytest timeouts to the function so retries can't INTERNALERROR the run (#3634)
  pyproject.toml
  tests/test_pytest_timeout_retry_interaction.py
Due: check-poetry-lock-sync

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-poetry-lock-sync: any of: ^(pyproject\.toml|poetry\.lock)$
