Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-poetry-lock-sync
    name: Check poetry.lock is in sync
    description: Ensures poetry.lock is in sync with pyproject.toml
    entry: bash scripts/check_poetry_lock_sync.sh
    language: system
    files: ^(pyproject\.toml|poetry\.lock)$
    pass_filenames: false
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

feat(computer): add act_and_observe() for the 'act then look' loop (#216) (#3042)
  gptme/profiles.py
  gptme/tools/computer.py
  tests/test_computer_actions.py
Due: none

feat(config): allow setting system prompt type in gptme.toml via [prompt] system (#3044)
  gptme/cli/main.py
  gptme/config/models.py
  tests/test_config.py
Due: none

docs(providers): add provider integration guide + test scaffold (#3354)
  docs/contributing.rst
  docs/index.rst
  docs/provider-integration.rst
  tests/fixtures/provider_test_scaffold.py
Due: check-rst-formatting

feat(tui): collapsible rendering for XML and markdown tool-call formats (#3353)
  gptme/tui/app.py
  tests/test_tui.py
Due: none

test(acp): add end-to-end smoke test for ACP agent (#3356)
  tests/test_acp_e2e_smoke.py
Due: none

fix(tools): don't stamp call_id on hook messages (fixes Responses API 400) (#3355)
  gptme/server/session_step.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_execute_msg_hook_call_id.py
Due: none

docs(providers): add LM Studio section and tool-use verification tip (#3357)
  docs/providers-custom.rst
Due: check-rst-formatting

fix(logmanager): enforce call_id atomicity in limit_log for Responses API (#3359)
  gptme/logmanager/manager.py
  gptme/util/reduce.py
  tests/test_reduce.py
Due: none

ci(build): add docker/metadata-action for gptme-server image labels (#3360)
  .github/workflows/build.yml
Due: none

perf(webui): fix O(n²) syntax highlighting and scroll thrash during generation (#3363)
  webui/src/components/ConversationContent.tsx
  webui/src/utils/markdownRenderer.ts
Due: none

perf(webui): skip hljs.highlightAuto for gptme tool-output tags (#3364)
  webui/src/utils/__tests__/highlightUtils.test.ts
  webui/src/utils/highlightUtils.ts
Due: none

docs: add contributor-facing PR lifecycle guide (#3365)
  docs/contributing.rst
  docs/index.rst
  docs/pr-lifecycle.rst
Due: check-rst-formatting

perf(webui): fix O(n²) DOM writes during streaming code blocks (#3368)
  webui/e2e/performance.spec.ts
  webui/src/utils/__tests__/markdownRenderer.test.ts
  webui/src/utils/markdownRenderer.ts
Due: none

feat(tools): add completion verification hook (#3358)
  gptme/tools/complete.py
  tests/test_tools_complete.py
Due: none

feat(config): add layered lifecycle script hooks (#3366)
  docs/config.rst
  docs/hooks.rst
  docs/security.rst
  gptme/config/__init__.py
  gptme/config/core.py
  gptme/config/models.py
  gptme/config/user.py
  gptme/hooks/script.py
  gptme/init.py
  tests/test_script_hooks.py
Due: check-rst-formatting

perf(webui): remove debug console.log spam from useConversation (#3369)
  webui/src/hooks/useConversation.ts
Due: none

perf(webui): use Record instead of Map for stepRoles$ to enable per-row reactivity (#3371)
  webui/src/components/ConversationContent.tsx
Due: none

perf(webui): skip buildStepRoles recompute on every streaming token (#3370)
  webui/src/components/ConversationContent.tsx
  webui/src/components/__tests__/ConversationContent.test.tsx
  webui/src/components/__tests__/ConversationList.test.tsx
  webui/src/stores/__tests__/conversations.test.ts
  webui/src/stores/conversations.ts
Due: none

test(webui): guard streaming performance fixes (#3362) (#3375)
  webui/src/components/__tests__/ConversationContent.test.tsx
Due: none

feat(sandbox): add sandboxed execution mode for shell tool (#3367)
  gptme/sandbox.py
  gptme/tools/shell.py
  tests/test_sandbox.py
  tests/test_tools_shell.py
Due: none

feat(sandbox): add Docker sandbox for Python tool (GPTME_SANDBOX=docker) (#3377)
  gptme/sandbox.py
  gptme/tools/python.py
  tests/test_sandbox.py
  tests/test_tools_python.py
Due: none

fix(sandbox): drop all Linux capabilities in Docker Python sandbox (#3380)
  gptme/sandbox.py
  tests/test_sandbox.py
Due: none

feat(sandbox): add Wasmtime WASI Python sandbox backend (#3381)
  gptme/sandbox.py
  gptme/tools/python.py
  poetry.lock
  pyproject.toml
  tests/test_sandbox.py
Due: check-poetry-lock-sync

feat(logmanager): optional S3 replication for session event logs (Phase 2) (#3382)
  gptme/config/models.py
  gptme/config/user.py
  gptme/logmanager/manager.py
  gptme/logmanager/replication.py
  tests/test_replication.py
Due: none

revert(logmanager): remove speculative S3 event-log replication (#3384)
  gptme/config/models.py
  gptme/config/user.py
  gptme/logmanager/manager.py
  gptme/logmanager/replication.py
  tests/test_eventlog.py
  tests/test_replication.py
Due: none

feat(llm): add native Kimi K3 support (#3385)
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  tests/test_llm_models.py
  tests/test_llm_openai.py
  tests/test_llm_openai_sampling.py
Due: none

feat(webui): add model3d artifact kind for glTF/GLB/OBJ/STL inline preview (#3361)
  gptme/server/artifacts_api.py
  gptme/server/workspace_api.py
  tests/test_server_workspace.py
  webui/jest.config.ts
  webui/jest.setup.ts
  webui/package-lock.json
  webui/package.json
  webui/src/__mocks__/@google/model-viewer.ts
  webui/src/components/workspace/FilePreview.tsx
  webui/src/types/artifact.ts
  webui/src/types/model-viewer.d.ts
  webui/src/types/workspace.ts
  webui/src/utils/workspaceApi.ts
Due: none

feat(webui): virtualize message list with @tanstack/react-virtual (#3379)
  webui/e2e/conversation.spec.ts
  webui/e2e/performance.spec.ts
  webui/package-lock.json
  webui/package.json
  webui/src/components/ConversationContent.tsx
  webui/src/components/__tests__/ConversationContent.test.tsx
Due: none

fix(server): actually bundle modern webui in distributions (#3387)
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/webui.yml
  Makefile
  README.md
  docker-compose.yml
  docs/server.rst
  gptme/server/app.py
  gptme/server/cli.py
  pyproject.toml
  scripts/Dockerfile
  scripts/Dockerfile.selfhost
  scripts/gptme-server.service
  scripts/pyinstaller/gptme-server.spec
  scripts/validate_release_package.py
  tests/test_validate_release_package.py
Due: check-rst-formatting, check-poetry-lock-sync

test(webui): add virtualization regression tests for #3379
  webui/e2e/performance.spec.ts
  webui/src/components/ConversationContent.tsx
  webui/src/components/__tests__/ConversationContent.test.tsx
  webui/src/democonversations.ts
Due: none

docs: add task-to-workflow onboarding guide (#3389)
  docs/getting-started.rst
  docs/howto/choose-workflow.md
  docs/howto/index.md
Due: check-rst-formatting

docs(automation): add review-gated autonomous workflow section (#3391)
  docs/automation.rst
  docs/howto/choose-workflow.md
Due: check-rst-formatting

fix(webui): a few minor design trims/fixes, including hiding avatars in chat on small screens (#3395)
  webui/src/components/ChatInput.tsx
  webui/src/components/ChatMessage.tsx
  webui/src/components/ConversationContent.tsx
  webui/src/components/MessageAvatar.tsx
  webui/src/components/WelcomeView.tsx
Due: none

docs(readme): update desktop app from WIP to shipped with download link (#3397)
  README.md
  docs/usage.rst
Due: check-rst-formatting

docs(cookbook): add cookbook with 5 canonical usage patterns (#3398)
  docs/cookbook.rst
  docs/index.rst
Due: check-rst-formatting

feat(cost): add inline per-message cost display via GPTME_SHOW_COST=1 (#3396)
  gptme/chat.py
  gptme/tui/app.py
  gptme/util/cost_display.py
  tests/test_cost_display.py
  tests/test_tui.py
Due: none

fix(ci): bundle webui before building Tauri sidecars (#3403)
  .github/workflows/tauri.yml
Due: none

fix(server): acquire step_lock when checking generating flag in fork/edit/delete/config (#3401)
  gptme/server/api_v2.py
  gptme/server/api_v2_sessions.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  tests/conftest.py
  tests/test_server_session_models.py
  tests/test_server_v2.py
  tests/test_server_v2_sessions.py
Due: none

fix(tauri): avoid duplicating webui in server sidecar (#3404)
  .github/workflows/tauri.yml
  scripts/pyinstaller/gptme-server.spec
Due: none

fix(server): guard conversation DELETE against concurrent generation (#3405)
  gptme/server/api_v2.py
  tests/test_server_v2.py
Due: none
