Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-poetry-lock-sync
    name: Check poetry.lock is in sync
    description: Ensures poetry.lock is in sync with pyproject.toml
    entry: bash scripts/check_poetry_lock_sync.sh
    language: system
    files: ^(pyproject\.toml|poetry\.lock)$
    pass_filenames: false
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(replay): read conversation.jsonl master log as explicit UTF-8 (#3474)
  gptme/util/replay.py
  tests/test_replay.py
Due: none

fix(prompt_queue): preserve malformed lines on drain instead of dropping them (#3498)
  gptme/prompt_queue.py
  tests/test_prompt_queue.py
Due: none

fix(read): reject non-positive line bounds instead of silently truncating (#3515)
  gptme/tools/read.py
  tests/test_tools_read.py
Due: none

fix(constants): escape assistant display name to prevent rich markup injection (#3517)
  gptme/constants.py
  tests/test_constants.py
Due: none

fix(llm): normalize proxy URL in _is_proxy() to match init() suffix rule (#3527)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

feat(attestation): Phase 1 registry bridge - wire model-capability-registry (#3525)
  gptme/init.py
  gptme/model_attestation.py
  pyproject.toml
  tests/test_model_attestation.py
Due: check-poetry-lock-sync

feat(tools/hashline_edit): 3-way merge recovery when file changes between read and edit (#3476 Phase 2) (#3520)
  gptme/tools/hashline_edit.py
  tests/test_tools_hashline_edit.py
Due: none

feat(cli): add JSON output to status command (#3528)
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

feat(models): refresh MiniMax plugin registry (#3533)
  docs/providers.rst
  gptme/llm/models/types.py
  tests/test_llm_models.py
  tests/test_provider_plugins.py
  tests/test_util_cli.py
Due: check-rst-formatting

feat(cli): add --version-short output (#3536)
  gptme/cli/main.py
  tests/test_cli.py
  tests/test_search_alias.py
Due: none

fix(dirs): terminate project-dir walk at the filesystem root (Windows infinite loop) (#3509)
  gptme/dirs.py
  tests/test_dirs.py
Due: none

fix(cli): rethink --version output format, remove --version-short (#3539)
  gptme/cli/main.py
  tests/test_cli.py
  tests/test_info.py
  tests/test_search_alias.py
Due: none

docs: clarify conversation, branch, fork, and session terminology (#3544)
  docs/glossary.md
  docs/usage.rst
Due: check-rst-formatting

docs: PTC tool interface audit + architecture rationale (fixes #3540) (#3541)
  docs/design/ptc-tool-interface.md
  docs/index.rst
  docs/tools.rst
Due: check-rst-formatting

feat(cli): add `gptme explain` for offline concept answers (#3542)
  gptme/cli/cmd_explain.py
  gptme/cli/util.py
  gptme/data/faq.yaml
  pyproject.toml
  tests/test_cli_explain.py
Due: check-poetry-lock-sync

feat(tools): add read-only audit preset (#3543)
  docs/tools.rst
  gptme/cli/cmd_review_pr.py
  gptme/cli/main.py
  gptme/config/cli_setup.py
  gptme/tools/__init__.py
  gptme/tools/_allowlist.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_tools.py
Due: check-rst-formatting

docs(tools): document hashline_edit tool + fix read examples with tag header (#3476) (#3532)
  docs/tools.rst
  gptme/tools/read.py
  tests/test_tools_read.py
Due: check-rst-formatting

refactor(tools/read): decouple read tool examples from hashline conventions (#3561)
  gptme/tools/read.py
  tests/test_tools_hashline_edit.py
  tests/test_tools_read.py
Due: none

docs: reordered sections in providers.rst
  docs/providers.rst
Due: check-rst-formatting

fix(android): enable mobile cloud sign-in (#3558)
  tauri/src-tauri/tauri.conf.json
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

docs(design): complete PTC audit — paper citation + full tools/ coverage (#3554)
  docs/design/ptc-tool-interface.md
Due: none

fix(server): validate provider API key before saving it (#3546)
  gptme/server/api_v2.py
  tests/test_server_v2.py
Due: none

ci: add a focused Windows path/config smoke lane (#3535)
  .github/workflows/test.yml
Due: none

refactor(cli): move Bob-specific status fields out of core; add StatusProvider extension point (#3537)
  gptme/cli/cmd_status.py
  gptme/status_provider.py
  tests/conftest.py
  tests/test_cli_status.py
Due: none

refactor(tools/read): fully decouple read.py from _hashline_snapshot (#3562)
  gptme/tools/__init__.py
  gptme/tools/read.py
  tests/test_tools_read.py
Due: none

feat(prompts): end responses with a concrete next step (#3559)
  gptme/prompts/templates.py
  tests/test_prompt_templates.py
Due: none

fix(deps): bump Python critical security dependencies (#3556)
  poetry.lock
  pyproject.toml
Due: check-poetry-lock-sync

fix(shell): allowlist permitted flags per binary instead of denying four find flags (GHSA-mfh4-cxj2-jc9p) (#3557)
  gptme/tools/shell_flags.py
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

docs: fix providers.rst structure, nest provider/browser pages, add Tool Formats guide (#3563)
  docs/config.rst
  docs/evals.rst
  docs/index.rst
  docs/providers.rst
  docs/tool-formats.rst
  docs/tools.rst
Due: check-rst-formatting

refactor(tests): move hashline snapshot test out of test_tools_read.py (#3564)
  tests/test_tools_hashline_edit.py
  tests/test_tools_read.py
Due: none

feat(cli): fatal error envelope + exit taxonomy for non-interactive mode (#3568)
  gptme/cli/main.py
  tests/test_agent.py
  tests/test_cli_fatal_error_envelope.py
Due: none

feat(prompts): Add code editing strategy guidance for improved model performance (#3530)
  gptme/eval/suites/behavioral/git_selective_commit.py
  gptme/prompts/__init__.py
  gptme/prompts/templates.py
  gptme/tools/subagent/execution.py
  tests/test_eval_behavioral.py
  tests/test_prompt_templates.py
Due: none

fix(grok-subscription): enable native tools API and add grok-4.6 (#3571)
  gptme/cli/auth.py
  gptme/llm/__init__.py
  gptme/llm/llm_grok_subscription.py
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  tests/test_llm_grok_subscription.py
Due: none

fix(server): validate provider API key before persisting in BYOK setup (#3555)
  gptme/llm/validate.py
  gptme/server/api_v2.py
  gptme/server/openapi_docs.py
  tests/test_llm_validate.py
  tests/test_server_v2.py
Due: none

fix(tauri): real API-key errors and Windows sidecar startup (#3552)
  gptme/__version__.py
  tauri/Makefile
  tauri/README.md
  tauri/scripts/build-sidecar.sh
  tests/test_misc_subprocess_timeouts.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/WelcomeView.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/components/settings/ServerApiKeySettings.tsx
  webui/src/components/settings/__tests__/ServerApiKeySettings.test.tsx
  webui/src/hooks/useModels.ts
  webui/src/hooks/useProviderHealth.ts
  webui/src/hooks/useUserSettings.ts
  webui/src/utils/__tests__/errors.test.ts
  webui/src/utils/__tests__/modelsError.test.ts
  webui/src/utils/errors.ts
  webui/src/utils/modelsError.ts
Due: none

fix(review): verify finding file/line target matches inline comment location (#3547)
  gptme/cli/cmd_review_watch.py
  tests/test_util_cli_review_watch.py
Due: none

feat(autocompact): add keep_head to protect task context from compaction (#3567)
  gptme/tools/autocompact/config.py
  gptme/tools/autocompact/engine.py
  gptme/tools/autocompact/handlers.py
  gptme/tools/autocompact/hook.py
  gptme/util/reduce.py
  tests/test_auto_compact.py
  tests/test_reduce.py
Due: none

docs(models): cite the grok-4.6 model card (#3572)
  gptme/llm/models/data.py
Due: none

fix(android): open cloud sign-in in the system browser, not the app WebView (#3578)
  .github/workflows/webui.yml
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

feat(computer): allow out-of-tree transports via register_transport() (#3577)
  gptme/tools/computer_transport.py
  tests/test_computer_transport.py
Due: none
