Repository tianhm/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-poetry-lock-sync

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-poetry-lock-sync:
  name: Check poetry.lock is in sync
  description: Ensures poetry.lock is in sync with pyproject.toml
  entry: bash scripts/check_poetry_lock_sync.sh
  language: system
  pass_filenames: false

docs: improve README with minor fixes (#1191)
  README.md
Due: none

fix(llm): handle list content in OpenRouter reasoning extraction (#1188)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

refactor(llm): add TypedDict for message dict typing (#1195)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

feat(config): add [plugin.*] namespace for plugin-specific configuration (#1197)
  gptme/config.py
Due: none

feat(config): add avatar field to AgentConfig (#1198)
  docs/config.rst
  gptme/config.py
  gptme/server/api_v2.py
  gptme/server/openapi_docs.py
  tests/test_config.py
Due: check-rst-formatting

feat(telemetry): add GPTME_RUN_TYPE env var support (#1200)
  gptme/util/_telemetry.py
Due: none

fix(eval): add thread-safe locking for environment variable mutation (#1044)
  gptme/eval/dspy/prompt_optimizer.py
  gptme/eval/run.py
Due: none

docs: add source installation and extras documentation
  docs/getting-started.rst
  docs/system-dependencies.rst
  poetry.lock
  pyproject.toml
Due: check-rst-formatting, check-poetry-lock-sync

docs: improve system dependencies organization
  docs/getting-started.rst
  docs/system-dependencies.rst
Due: check-rst-formatting

fix(patch): handle RST heading underlines (===================) in content (#1203)
  gptme/tools/patch.py
  tests/test_tools_patch.py
Due: none

fix: Add tsroot to eslint config (#1214)
  webui/eslint.config.js
Due: none

fix(lessons): exclude worktree and .git directories from indexing (#1213)
  gptme/lessons/index.py
  tests/test_lessons_index.py
Due: none

feat(anthropic): enable thinking mode with native tool calling (#1193)
  gptme/llm/llm_anthropic.py
  tests/test_llm_anthropic.py
Due: none

fix(save): remove duplicate overwrite confirmation (#1204)
  gptme/tools/save.py
Due: none

fix(autocompact): reduce log spam from per-message logging (#1216)
  gptme/tools/autocompact.py
Due: none

feat(lessons): add default lookup directories for skills (#1217)
  docs/lessons.rst
  docs/lessons/README.md
  docs/skills.rst
  gptme/lessons/index.py
Due: check-rst-formatting

fix(llm): handle OpenRouter 'Overloaded' errors for Anthropic models (#1223)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(llm): handle httpx transport errors during streaming (#1226)
  gptme/llm/llm_openai.py
Due: none

feat(vision): add PIL.Image support to view_image function (#1232)
  gptme/tools/vision.py
Due: none

feat(context): add URL confirmation and content size safeguards (#1211)
  gptme/constants.py
  gptme/util/context.py
  tests/test_context.py
Due: none

fix(docs): use string literal for PIL.Image.Image type annotation to fix Sphinx warning
  gptme/tools/vision.py
  webui/server.py
Due: none

fix(docs): add PIL.Image.Image to nitpick ignore list
  docs/conf.py
Due: none

fix: fix `a` as acceptable answer for auto in confirmation (#1233)
  gptme/hooks/cli_confirm.py
Due: none

fix: detect vision support from OpenRouter modality correctly (#1237)
  gptme/llm/llm_openai.py
Due: none

fix(prompts): attach workspace files to Message instead of reading inline (#1231)
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  gptme/prompts.py
  gptme/util/context.py
  tests/test_prompts.py
Due: none

feat(config): add [user] section to user config (#1238)
  docs/config.rst
  gptme/chat.py
  gptme/config.py
  gptme/constants.py
  gptme/prompts.py
  tests/test_config.py
Due: check-rst-formatting

feat(config): support config.local.toml for user config (#1239)
  docs/config.rst
  gptme/config.py
  tests/test_config.py
Due: check-rst-formatting

fix(eval): prevent recursive SIGTERM handler loop (#1240)
  gptme/eval/run.py
Due: none

fix(config): deduplicate and improve user config logging
  gptme/config.py
Due: none

fix(config): condense user config log to single line
  gptme/config.py
Due: none

fix(lessons): demote noisy startup messages to debug level
  gptme/lessons/index.py
Due: none

fix: use configured username instead of 'User' for user messages
  gptme/message.py
Due: none

feat(commands): separate /model and /models commands (#1243)
  README.md
  docs/usage.rst
  gptme/commands/llm.py
  gptme/commands/meta.py
Due: check-rst-formatting

refactor(commands): add auto_undo to command decorator (#1244)
  gptme/commands/base.py
  gptme/commands/export.py
  gptme/commands/llm.py
  gptme/commands/meta.py
  gptme/commands/session.py
Due: none

feat(patch): improve multi-hunk support and error messages (#1245)
  gptme/tools/patch.py
  tests/test_tools_patch.py
Due: none

fix(tests): expect cursorrules hint at DEBUG level (#1247)
  tests/test_lessons_integration.py
Due: none

refactor(tools): combine todoread/todowrite into single todo tool (#1242)
  docs/commands.rst
  gptme/chat.py
  gptme/commands/export.py
  gptme/tools/todo.py
  tests/test_tools_todo.py
Due: check-rst-formatting

feat(webui): multi-backend support with unified view (#1241)
  webui/README.md
  webui/e2e/conversation.spec.ts
  webui/src/components/ConversationContent.tsx
  webui/src/components/ConversationList.tsx
  webui/src/components/DeleteConversationConfirmationDialog.tsx
  webui/src/components/MainLayout.tsx
  webui/src/components/MenuBar.tsx
  webui/src/components/ServerSelector.tsx
  webui/src/components/SettingsModal.tsx
  webui/src/components/UnifiedSidebar.tsx
  webui/src/components/WelcomeView.tsx
  webui/src/components/settings/ServerConfiguration.tsx
  webui/src/components/workspace/WorkspaceExplorer.tsx
  webui/src/contexts/ApiContext.tsx
  webui/src/hooks/useConversation.ts
  webui/src/hooks/useConversationSettings.ts
  webui/src/hooks/useMultiServerConversations.ts
  webui/src/stores/serverClients.ts
  webui/src/stores/servers.ts
  webui/src/types/conversation.ts
  webui/src/types/servers.ts
  webui/src/utils/connectionConfig.ts
Due: none

feat(webui): add show hidden messages setting, move initial system to settings (#1248)
  webui/src/components/ConversationContent.tsx
  webui/src/components/SettingsModal.tsx
  webui/src/contexts/SettingsContext.tsx
Due: none

fix(webui): make settings reactive in Legend State For loop
  webui/src/components/ConversationContent.tsx
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-poetry-lock-sync: any of: ^(pyproject\.toml|poetry\.lock)$
